<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiwenjie.cocomusic">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许获得audio session ID -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许获得电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 唤醒休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".CocoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music_icon"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />

        <activity
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:name=".ui.PlayerDetailActivity" />  <!-- 播放音乐的 Activity -->

        <!-- 点击测试跳转的 Activity -->
        <activity android:name=".ui.TestActivity" />

        <!-- Service Start-->
        <service
            android:name=".one.service.PlayService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.jiwenjie.cocomusic.ACCESS_PLAY_SERVICE"
            android:process=":playService">
            <intent-filter>
                <action android:name="com.jiwenjie.cocomusic.action.PLAY_SERVICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <!-- Service End-->

        <!-- second Play Service Start -->
        <service
            android:name=".playservice.MusicPlayerService"
            android:exported="true"
            android:enabled="true"/>

        <!-- second Play Service End -->

        <!-- Receiver Start -->
        <receiver android:name=".play.MediaButtonIntentReceiver">
            <intent-filter android:priority="999">  <!-- 优先级  范围 [-1000, 1000] -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.StandardWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.jiwenjie.music_lake.metachanged" />
                <action android:name="com.jiwenjie.music_lake.notify.play_state" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_standard" />
        </receiver>
        <!-- Receiver Start -->

        <!-- FileProvider start -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jiwenjie.cocomusic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- FileProvider end-->
    </application>
</manifest>