<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiwenjie.cocomusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CocoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music_icon"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" />


        <!-- Service Start-->
        <service
            android:name=".one.service.PlayService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.jiwenjie.cocomusic.ACCESS_PLAY_SERVICE"
            android:process=":playService">
            <intent-filter>
                <action android:name="com.jiwenjie.cocomusic.action.PLAY_SERVICE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <!-- Service End-->

        <!-- second Play Service Start -->
        <service android:name=".playservice.MusicPlayerService"
                 android:exported="true"
                 android:enabled="true"/>
        <!-- second Play Service End -->

        <!-- Receiver Start -->
        <receiver android:name=".one.service.HeadphoneWireControlReceiver">
            <intent-filter android:priority="2000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!-- Receiver Start -->

        <!-- FileProvider start -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jiwenjie.cocomusic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- FileProvider end-->
    </application>

</manifest>